@font-face {
    font-family: quicksand;
    src: url(fonts/quicksand.ttf);
}

:root {
    --base-colour: #0881A3;
    --bg-colour: #EEEEEE;
    --fg-colour: #FFFFFF;
    --shadow: rgba(70,70,70,70%);
    --input-border: #e5e7eb;
    --error-border: #E50000;
    font-family: quicksand, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
   margin: 0;
   padding: 0px;
   
}

.container {
    display: flex;
    height: 100vh;
    font-size: 1vw;
}

.leftpanel {
    background-image: url('images/trees.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: var(--bg-colour);
    width: 40em;
}

.topleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
}

.bottomleft {
    display: flex;
    flex-direction: column;
}

.leftpanel a{
    color: var(--fg-colour);
}

.logo {
    height: 2em;
    padding-right: 5px;
    margin: 1rem 0 1rem 2rem;
}

.title {
    text-align: center;
    font-size: 2em;
    color: var(--fg-colour);
    background-color: var(--shadow);
    display: flex;
}

.title h1 {
    height: 1.2em;
    margin: 1rem 2rem 1rem 0;
    line-height: 1;
}

.credit {
    justify-self: flex-end;
    font-size: 0.7rem;
    background-color: var(--shadow);
}



.rightpanel {
    width: 60em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bg-colour);
}
.top {
    font-weight: bold;
    font-size: 1.7em;
    margin: 5em 4em 1.5em 2em;
}

.top p {
    margin: 1em 0;
}

.middle {
    box-shadow: 0px 0px 10px 0px var(--shadow);
    background-color: var(--fg-colour);
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 16vw;
}

.middle h4 {
    margin: 0 1em;
}

.middle>form>div{
    display: flex;
    gap: 2em;
    padding: 0.5em 0;
    margin: 0 1em;
}

.middle label {
    font-size: 0.6em;
    display: block;
    line-height: 1;
    font-weight: 600;
}

.middle input {
    border: 1px solid var(--input-border);
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    height: 1.5vw;
    width: 25vw;
}

.middle input:invalid:focus {
    border-color: var(--error-border);
}

.middle input:focus {
    outline: none;
    border: 1px solid var(--base-colour);
    box-shadow: 0 0 5px 0 var(--shadow);
}

.password_error {
    color: var(--error-border);
    font-size: 0.6em;
}

.bottom {
    margin: 0 3em;
}

#create_account_button {
    width: 10em;
    margin: 2em 0;
    background-color: var(--base-colour);
    color: var(--bg-colour);
    border: 0;
    border-radius: 0.5em;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 0 2px 0 var(--shadow);
    cursor:pointer;
}

.bottom p {
    font-size: 0.7em;
}
